@model ResetPasswordViewModel

<form asp-controller="account" asp-action="ConfirmResetPassword" method="post">
    <div class="main-container-centered">
        <div class="container-first">
            <div class="all-elements">
                <img src="~/images/authentication/register.png"
                     srcset="~/imagesauthentication/register@2x.png 2x, ~/images/authentication/register@3x.png 3x"
                     class="image-responsive">
            </div>
        </div>
        <div class="container-second">
            <div>
                <h2>Reset passowrd</h2>
            </div>
            <partial name="_ValidationSummary" />
            <input id="Code" name="Code" type="hidden" value="@Model.Code" class="form-control" />
            <input id="Email" name="Email" type="hidden" value="@Model.Email" class="form-control" />            
            <div class="all-elements">
                <label>Password</label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="is-invalid"></span>
            </div>
            <div class="all-elements">
                <label>Confirm Password</label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="is-invalid"></span>
            </div>
            <div class="form-group all-elements">
                <button name="button" type="submit" value="reset" class="sign-in-sign-up-active-button sign-in-sign-up-active-button-text">Reset</button>
            </div>
        </div>
    </div>
</form>
