@model ConfirmEmailResultModel

<form asp-controller="account" asp-action="Login" method="get">
    <div class="container-centered">
        <div class="all-elements">
            <img src="~/images/authentication/logo.png"
                 srcset="~/images/authentication/logo@2x.png 2x, ~/images/authentication/logo@3x.png 3x">
        </div>
        <div class="form-group">
            <label class="sign-in-sign-up-label">Confirm email result</label>
        </div>
        <div>
            @if (!Model.Result)
            {
                <p>
                    Failed to confirm email. Errors: @Model.Data
                </p>
            }
            else
            {
                <div class="form-group">
                    <label class="sign-in-sign-up-label">@Model.Data</label>
                </div>
                <div class="form-group">
                    <button type="submit" class="sign-in-sign-up-active-button sign-in-sign-up-active-button-centered sign-in-sign-up-active-button-text">SIGN IN</button>
                </div>
            }
        </div>
    </div>
</form>



