@model ConfirmResetPasswordResultModel

<form asp-controller="account" asp-action="Login" method="get">
    <div class="container-centered">
        <div class="all-elements">
            <img src="~/images/authentication/logo.png"
                 srcset="~/images/authentication/logo@2x.png 2x, ~/images/authentication/logo@3x.png 3x">
        </div>
        <div class="form-group">
            <label class="sign-in-sign-up-label">Confirm reset password result</label>
        </div>
        <div>
            @if (!Model.Result)
            {
                <div>
                    Failed to confirm reset password. Errors:
                </div>
                @foreach (var error in Model.Data)
                {
                    <div>
                        @error
                    </div>
                }
            }
            else
            {
                @foreach (var data in Model.Data)
                {
                    <div>
                        @data
                    </div>
                }
                <div class="form-group">
                    <button type="submit" class="sign-in-sign-up-active-button sign-in-sign-up-active-button-centered sign-in-sign-up-active-button-text">SIGN IN</button>
                </div>
            }
        </div>
    </div>
</form>