@model ForgotPasswordViewModel
    <form asp-controller="account">
        <div class="login-page">
            <div class="main-container-centered">
                <div class="container-first">
                    <div class="all-elements">
                        <img src="~/images/authentication/register.png"
                             srcset="~/authentication/register@2x.png 2x, ~/authentication/register@3x.png 3x"
                             class="image-responsive">
                    </div>
                 </div>
                <div class="container-second">
                    <div>
                        <h2>Forgot password</h2>
                    </div>
                    <div>
                        <label class="sign-in-sign-up-label">Please enter your email and follow instructions</label>
                    </div>
                    <partial name="_ValidationSummary" />
                    <div class="all-elements">
                        <label>Email</label>
                        <input type="email" asp-for="Email" class="form-control" placeholder="Email"/>
                        <span asp-validation-for="Email" class="is-invalid"></span>
                    </div>
                    <div class="form-group all-elements">
                        <button name="button" type="submit" value="forgot" class="sign-in-sign-up-active-button sign-in-sign-up-active-button-text">RESET</button>
                    </div>
                </div>
            </div>
        </div>            
    </form>