@model ErrorViewModel

<div class="error-page">
    <div class="page-header">
        <h1>Error</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="alert alert-danger">
                <div>
                    Sorry, there was an error
                </div>
                    @foreach (var error in Model.Errors)
                    {
                        <label>
                            @error.Error
                        </label>
                    }
            </div>
        </div>
    </div>
</div>
